.navbar-bg-dark { background-color: #212529; }
.nav-link.active { background-color: #2D5176; }
li .item-completed { display: inline-block; float: right; color: #2D764A; font-weight: bold; font-size: 22pt;}