.navbar-bg-dark { background-color: #212529; }

li .item-completed { display: inline-block; float: right; color: #2D764A; font-weight: bold; font-size: 22pt;}
li button.btn-add-todo-item { display: inline-block; float: right; }
nav .nav-brand { text-decoration: none; color: #fff; font-size: 14pt; }

.modal .modal-header { padding: 0px 16px;}
.modal .modal-header .btn-closemodal { position: relative; top: -4px; right: -22px; }
.modal .modal-dialog { 
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

.alert-inline { padding: 6px 8px; margin-top: 4px; }

.list-group-item .btn { display: inline-block; float: right;  }

.list-group-header { font-size: 16pt; font-weight: bold; }

.btn.disabled,
.btn:disabled,
.btn[disabled]{
  border: 2px solid #999999;
  opacity: 0.2;
	text-decoration: line-through;
}